h1 
{
  text-align: center;
  font-size: 3em;
  color: DarkGray;
  font-family: Garamond;
  margin-bottom: .3em;
 
}

h2
{
  text-align: center;
  font-size: 2em;
  color: DarkGray;
  font-family: Garamond;
  margin-bottom: .3em;
  
}

h3
{
  text-align: center;
  font-size: 1.4em;
  color: DarkGray;
  font-family: Garamond;
  margin-bottom: .3em;
  
}

body 
{
  background-color: BlanchedAlmond;
}
table 
{
  margin: .3em;
  width: 100%;
  text-align: center;
  background-color: FloralWhite;
  text-align: center;
  border-radius:10px;
  
  
  
}

th 
{
  padding: .2em;

}

td 
{
  padding-left: .5em;
  padding-right: .5em;
  border: FloralWhite;
  background-color: FloralWhite;
  border-radius:10px;
  margin:10px 0;
}


 
 




input[type=text], select, textarea {
  width: 95%;
  padding: 12px;
  border: 1px floral white;
  border-radius: 10px;
  resize: vertical;
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 255, 0.2);
}

.centerCell 
{
  text-align: center;
}

.rounded-input 
{
  padding:10px;
  border-radius:10px;
  
}

button {

  appearance:none;
  -webkit-appearance:none;

  padding:10px;
  border:none;
  background-color:grey;
  color:#fff;
  font-weight:600;
  border-radius:5px;
  


}

p{
	
	font-size: 1em;
	color: DarkGray;
    font-family: Garamond;
}

a:link {
  text-decoration: none;
	color: DarkGray;
}


a:hover {
  text-decoration: underline;
  color: DarkSlateBlue;
}

a:active {
  text-decoration: underline;
   color: DarkSlateBlue;
  color: 
}

.img {
    float: left;
    width:  100px;
    height: 100px;
    background-size: cover;
}
